<%- model_class = Import -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:total_amount) %></th>
      <th><%= model_class.human_attribute_name(:completed) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @imports.each do |import| %>
      <tr>
        <td><%= import.id %></td>
        <td><%= import.total_amount %></td>
        <td><%= import.completed ? "Completed" : "Processing" %></td>
        <td><%=l import.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Reload imports", imports_path, :class => 'btn btn-primary' %>
<%= link_to t('.new', :default => t("helpers.links.new")),
            new_import_path,
            :class => 'btn btn-primary' %>
